@import "tailwindcss";
@import "./theme.css";
@import "./animations.css";

body{
  background-color: black;
}

::-webkit-scrollbar {
  background-color: var(--color-surface);
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}
 .engage:active {
  background: var(--color-accent-hover);
  scale: 1.05;

}