@import "tailwindcss";

/* =========================
   THEME TOKENS (Tailwind v4)
   ========================= */

@theme {
  /* ---------- COLORS ---------- */

  --color-background: #0E0E0E;
  --color-surface: #151515;
  --color-card: #1C1C1C;

  --color-accent: #E6451E;
  --color-accent-hover: #FF5A2E;
  --color-accent-muted: #C63A18;

  --color-text: #F2EDE4;
  --color-text-secondary: #CFC8BD;
  --color-muted: #9A948B;

  --color-border: #2A2A2A;
  --color-disabled: #3A3A3A;

  /*----------FONTS ----------*/
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-heading: 'JAPANRAMEN', sans-serif;

  /* ---------- LAYOUT ---------- */

  --spacing-navbar: 4rem;
  --spacing-footer: 5rem;
  --max-width-page: 1280px;

  /* ---------- RADIUS ---------- */

  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;

  /* ---------- Z-INDEX ---------- */

  --z-navbar: 50;
  --z-cart: 60;
  --z-modal: 70;

  /* ---------- ANIMATION ---------- */

  --duration-fast: 150ms;
  --duration-normal: 250ms;
  --duration-slow: 400ms;
}
